# Python
__pycache__/
*.py[cod]
venv/
.venv/
*.egg-info/
.pytest_cache/

# Terraform
**/.terraform/*
*.tfstate
*.tfstate.*
*.tfvars
!*.tfvars.example
.terraform.lock.hcl
crash.log

# AWS
.aws/
*.pem

# IDE
.vscode/
.idea/
*.swp

# OS
.DS_Store
Thumbs.db

# Lambda packaging
lambdas/**/package/
lambdas/**/*.zip

# Local secrets
.env
.env.local
secrets.json
terraform/build/
